html, body {
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
}

body {
	box-sizing: border-box;
	border: 20px solid #333333;
	color: #333333;
	margin: 0;
	font-family: 'Source Code Pro', serif !important;
}

button {
	font-family: 'Source Code Pro', serif !important;
	padding: 13px 50px;
	border-radius: 8px;
}

a {
	color: #77C9FF;
	text-decoration: none;
}

a:hover {
	color: #B7DCF4;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700 !important;
	font-family: 'Lato', sans-serif;
}

p, button, a {
	font-weight: 300;
	line-height: 1.606em;
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	}

.btn-primary {
	background-color: #333333;
	color: #ffffff;
	padding: 12px 50px;
	border-radius: 8px;
}

.btn-primary:hover {
	opacity: 80%;
	color: #ffffff;
}

.mt-4 {
	margin-top: 4rem;
}

.text-center {
	text-align: center;
}

.undraw-illus {
	max-height: 265px;
}
