html, body {
	position: relative;
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif !important;
	background-color: #FFFFFF !important;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700 !important;
	font-family: 'Playfair Display', serif;
}

p {
	font-weight: 300;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
  }  

.vh-80 {
	height: 80vh;
}

.vh-100 {
	height: 100vh;
}

.hr-decorator {
	width: 200px;
	border-top: 5px solid #B7DCF4;
	margin: 0;
}

section {
	padding-top: 5rem;
	position: relative;
}

.undraw-illus {
	max-height: 265px;
}
